body {
    background-color: rgb(30, 71, 80);
    color: rgb(255, 255, 255);
    text-align: center;
}

#calculator {
    background-color: rgb(164, 170, 173);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 8px;
    padding-top: 12px;
}

#displayContainer {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 5px;
}

#topDisplay {
    height: 25px;
    width: 255px;
    color: rgb(30, 71, 80);
    font-size: 20px;
    text-align: right;
    padding-top: 3px;
    padding-right: 5px;
    overflow: scroll;
    margin: 0 auto;
}

hr {
    background-color: rgb(30, 71, 80);
    height: 2px;
    width: 253px;
}

#bottomDisplay {
    height: 35px;
    width: 255px;
    color: rgb(30, 71, 80);
    font-size: 28px;
    text-align: right;
    padding-bottom: 3px;
    padding-right: 3px;
    overflow: scroll;
    margin: 0 auto;
}

#buttonContainer {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
}

button {
    background-color: rgb(30, 71, 80);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

button:active {
    background-color: rgb(255, 255, 255);
    color: rgb(30, 71, 80);
}

#clear {
    height: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}